In [3]:
#importing libraries and packages
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import pickle
from sklearn import preprocessing
from sklearn import model_selection
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import roc_auc_score,r2_score,mean_absolute_error,mean_squared_error,accuracy_score,classification_report,confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
#data import
data = pd.read_csv('E:\SP Jain\python files\DataCosuppychain dataset\Final data set_analysisv1.0 - Copy.csv',header= 0,encoding='unicode_escape')
pd.set_option('display.max_columns',None)
data.head()

,Type,Benefit per order,Sales per customer,Category Name,Customer Country,Customer Id,Customer Segment,Customer Zipcode,Department Id,Department Name,Market,Order Country,Order Customer Id,Order Profit Per Order,Order Region,Order State,Shipping Mode,Fraudlent
0,DEBIT,91.250000,314.640015,Sporting Goods,Puerto Rico,20755,Consumer,725.0,2,Fitness,Pacific Asia,Indonesia,20755,91.250000,Southeast Asia,Java Occidental,Standard Class,0
1,TRANSFER,-249.089996,311.359985,Sporting Goods,Puerto Rico,19492,Consumer,725.0,2,Fitness,Pacific Asia,India,19492,-249.089996,South Asia,Rajast치n,Standard Class,0
2,CASH,-247.779999,309.720001,Sporting Goods,EE. UU.,19491,Consumer,95125.0,2,Fitness,Pacific Asia,India,19491,-247.779999,South Asia,Rajast치n,Standard Class,0
3,DEBIT,22.860001,304.809998,Sporting Goods,EE. UU.,19490,Home Office,90027.0,2,Fitness,Pacific Asia,Australia,19490,22.860001,Oceania,Queensland,Standard Class,0
4,PAYMENT,134.210007,298.250000,Sporting Goods,Puerto Rico,19489,Corporate,725.0,2,Fitness,Pacific Asia,Australia,19489,134.210007,Oceania,Queensland,Standard Class,0

In [5]:
# missing value identification
def features_with_missing_values(data):
    x = data.isnull().sum().sum()/(data.shape[0]*data.shape[1])*100
    print('Percentage of Total Missing Values is ' ,round(x,2) ,'%')
    print('Missing Value Estimation :')
    for i in data.columns:
        if data[i].isna().sum()>0:
            print('The Feature ',i,' has '+ str(data[i].isna().sum()) + ' missing values')
            
features_with_missing_values(data)

Percentage of Total Missing Values is  0.0 %
Missing Value Estimation :
The Feature  Customer Zipcode  has 3 missing values

In [6]:
data= data.drop(['Customer Zipcode'], axis=1)

In [7]:
#split dataset in features and target variable
#features = data[:19]
x = data.iloc[:,:16]
x.head()

,Type,Benefit per order,Sales per customer,Category Name,Customer Country,Customer Id,Customer Segment,Department Id,Department Name,Market,Order Country,Order Customer Id,Order Profit Per Order,Order Region,Order State,Shipping Mode
0,DEBIT,91.250000,314.640015,Sporting Goods,Puerto Rico,20755,Consumer,2,Fitness,Pacific Asia,Indonesia,20755,91.250000,Southeast Asia,Java Occidental,Standard Class
1,TRANSFER,-249.089996,311.359985,Sporting Goods,Puerto Rico,19492,Consumer,2,Fitness,Pacific Asia,India,19492,-249.089996,South Asia,Rajast치n,Standard Class
2,CASH,-247.779999,309.720001,Sporting Goods,EE. UU.,19491,Consumer,2,Fitness,Pacific Asia,India,19491,-247.779999,South Asia,Rajast치n,Standard Class
3,DEBIT,22.860001,304.809998,Sporting Goods,EE. UU.,19490,Home Office,2,Fitness,Pacific Asia,Australia,19490,22.860001,Oceania,Queensland,Standard Class
4,PAYMENT,134.210007,298.250000,Sporting Goods,Puerto Rico,19489,Corporate,2,Fitness,Pacific Asia,Australia,19489,134.210007,Oceania,Queensland,Standard Class

In [8]:
#One-Hot encoding categotical variables in the data
x_encoded = pd.get_dummies(x)
x_encoded.shape

(180519, 1361)

In [9]:
x_features = x_encoded
y_features = data['Fraudlent']

In [10]:
from sklearn.model_selection import train_test_split
from sklearn import neural_network
from sklearn import  metrics

In [11]:
X = x_features
Y = y_features

In [12]:
x_train, x_val, y_train, y_val = train_test_split(X, Y, test_size=0.20, random_state=42)

In [13]:
model = neural_network.MLPClassifier(alpha=1e-5, hidden_layer_sizes=(5,), solver='lbfgs', random_state=18)
model.fit(x_train, y_train)

MLPClassifier(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(5,), learning_rate='constant',
              learning_rate_init=0.001, max_iter=200, momentum=0.9,
              n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
              random_state=18, shuffle=True, solver='lbfgs', tol=0.0001,
              validation_fraction=0.1, verbose=False, warm_start=False)

In [14]:
predicted = model.predict(x_val)
print("Classification Report:\n %s:" % (metrics.classification_report(y_val, predicted)))

Classification Report:
               precision    recall  f1-score   support

           0       0.98      1.00      0.99     35254
           1       0.00      0.00      0.00       850

    accuracy                           0.98     36104
   macro avg       0.49      0.50      0.49     36104
weighted avg       0.95      0.98      0.96     36104
:

In [18]:
train_data = x_train
test_data = x_val
train_labels = y_train
test_labels = y_val

In [19]:
from sklearn.neural_network import MLPClassifier

clf = MLPClassifier(solver='lbfgs', 
                    alpha=1e-5,
                    hidden_layer_sizes=(6,), 
                    random_state=1)

clf.fit(train_data, train_labels)

MLPClassifier(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(6,), learning_rate='constant',
              learning_rate_init=0.001, max_iter=200, momentum=0.9,
              n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
              random_state=1, shuffle=True, solver='lbfgs', tol=0.0001,
              validation_fraction=0.1, verbose=False, warm_start=False)

In [20]:
clf.score(train_data, train_labels)

0.9769760758923934

In [21]:
from sklearn.metrics import accuracy_score

predictions_train = clf.predict(train_data)
predictions_test = clf.predict(test_data)
train_score = accuracy_score(predictions_train, train_labels)
print("score on train data: ", train_score)
test_score = accuracy_score(predictions_test, test_labels)
print("score on test data: ", test_score)

score on train data:  0.9769760758923934
score on test data:  0.975736760469754

In [2]:
import shap
explainer = shap.TreeExplainer(clf)
shap_values = explainer.shap_values(X_test)
shap.summary_plot(shap_values, X_test, plot_type="bar")

NameError: name 'clf' is not defined